*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.weather-main {
    background: linear-gradient(45deg, black, rgb(2, 2, 59), rgb(31, 6, 55));
    padding: 13vw;
    border-radius: 3vw;
    border: 4px solid black;
    box-shadow: 10px 5px 5px darkcyan;
    width: 60vw;
    height: 90vh;
}

.weather-info{
    color: white;
    margin: 3vh;
    background-color: black;    
    padding: 13px;
    font-size: 21px;
    font-weight: 1400;
    display: none;
}

#city-input{
    width: 100%;
    height: 7vh;
    border-radius: 13px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px gray;
    padding: 13px;
    font-weight: 1400;
    font-size: 23px;
}

#city-input::placeholder{
    font-weight: 1200;
}

#city-input:focus{
    border-radius: 0 0 10px aqua;
}

button{
    padding: 13px;
    width: 100%;
    font-size: 21px;
    font-weight: 1300;
    color: white;
    background: black;
    transition: 0.3s ease;
    border: none;
    outline: none;
    border-radius: 13px;
    box-shadow: 0 0 10px white;
    cursor: pointer;
    margin-top: 3vh;
}

button:hover{
    background-color: white;
    color: black;
    transition: 0.3s ease;
}
/* style end */